

#adminPan {
	display: none;
}

#appPan {
	display: none;
}

#branchPan {
	display: none;
}

#employeePan {
	display: none;
}

#formulario {
	display: none;
}

#logout {
	display: none;
}

#maxPan {
	display: none;
}

#mainPanel {
	display: none;
}
